body{
    height: 100vh;
    width: auto;
    background: linear-gradient(to top, #00e2ff,#009ceb,#006096, #002d4c,#00000e);
}
h1{
    text-align: center;
    color: white;
    margin-top: 150px;

}
.quadrado {
    margin: top -10px;
    margin-bottom: auto;
    margin-left:  auto;
    margin-right: auto;
    width: 380px;
    padding: 10px;
    background: linear-gradient(to right,  );
    border-radius: 25px;
    background-color:rgb(0, 0, 0) ;
}

#display{ 
    text-align: right;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 100px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 80px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
}
.fundoTeclas{
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    width: 348px;
    height: 400px;
    border-radius: 25px;
    display: grid; /* Usando Grid para organizar as teclas */
    grid-template-columns: repeat(4, 1fr); /* 4 colunas de botões */
    gap: 7px; /* Espaçamento entre os botões */
    padding: px; /* Espaço interno do container */
}
.btn {
    margin: 15px;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    background-color: #0c0c0c;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

.btn0{
    background-color: #000000;
    position: relative;
    top: -88px;
    margin: 15px;
    width:60px;
    height: 125px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0,3s ease; 
    display: inline-block;
    color: white;
    
}

.btn5{position: relative;
    right: -15px;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0,3s ease;
    display: inline-block;
    background-color: #000000;
    color: white;
}

.btn1{
    background-color: black;
    margin: 15px;
    width: 60px;
    height: 54px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0,3s ease;
    display: inline-block;
    color: white;
}
.btn:hover {
    background-color:#5d5e5e;
}
.btn0:hover {
    background-color: #5d5e5e;
}
.btn5:hover {
    background-color: #5d5e5e;
}
.btn1:hover {
    background-color: #5d5e5e;
}